/*      INICIO DE LA PAGINA(header,nav..)        */
body{
    margin: 0px;
    padding: 0px;
    
}
header{
background-image: url(../img/header.png);
height: 1300px;
background-size: cover;
}
nav{
    width: 55%;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
nav a{
    margin: 30px;
    color: aliceblue;
    text-decoration: none;
    
}
nav a p{
    margin-top: 20px;
}
nav a.log{
    margin: 33px;
    color: rgb(213, 64, 236);
    text-decoration: none;
    border-radius:10px;
    border: 3px solid;
    border-width: 15px;
    border-color: yellow;
    background-color: yellow;
}
div.bloqintro{
    color: aliceblue;
    margin-left: 13%;
    margin-top: 8%;
}
div.bloqintro div a.sab{
    margin: 33px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius:10px;
    border: 8px solid;
    border-color: yellow;
    background-color: yellow;
}
div.bloqintro div a.reg{
    margin: 33px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius:10px;
    border: 8px solid;
    border-color: yellow;
    background-color: yellow;
}

/*      SECCIONES    */
section.sec1{

}
div.flex1{
    display: flex;
    flex-direction: row;
    color: #751BBC;
}
div.flex1 div img{
    margin: 10%;
    width: 80%;
}
section.sec2{
margin-top: 20%;
}
div.flex2{
    display: flex;
    flex-direction: row;
}

div.barradat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../img/square.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: -200px;
    z-index:999;
    position: relative;
    padding-top: 10%;
    color: aliceblue;
}
div.barradat h1{
    font-size: 130px;
    margin: 0px;
}
div.barradat h2{
    font-size: 30px;
    margin-left: 2%;
}
section.sec3{

}
section.sec3  article{
    width: 16.8%;
    margin: 2%;
    border: 3px solid;
    border-color: blueviolet;
    height: 600px;
}
section.sec4{
    background-color: #34172E;
    padding: 2%;
}
article.opin{
    width: 45%;
    margin: 1%;
}
section.sec5{

}
div.flex3{
display: flex;
}
section.sec5 article{
    width: 50%;
    border: 2px solid;
    border-radius: 30px;
    padding: 3%;
}
footer{
    background-color: #34172E;
    padding: 2%;
    color: aliceblue;
}
footer div{
    width: 20%;
}
footer div div p u{
    font-size: 30px;
}